/* Basics */
div.otslayout {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.otslayout .panes {
    position: absolute;
    margin: 0;
    transform: translateX(20vw) translateY(20vh) scale(2);
    perspective-origin: 40vw 40vh;
    perspective: 40vw;
    width: 100%;
    height: 100%;
}

.otslayout .pane {
    position: absolute;
    top: 0;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: min-content 1fr min-content;
    justify-items: stretch;
    transition: transform 0.1s ease-out;
    opacity: 60%;
    box-sizing: border-box;
    padding: 0 2em;
    border: 0.8em outset;
    color: #fff;
}

.otslayout .pane>div.header {
    grid-area: header;
}

.otslayout .pane>div.main {
    grid-area: main;
    border-color: inherit;
}

.otslayout .pane>div.footer {
    grid-area: footer;
}

.otslayout .pane .ots-item {
    border: inset 0.4em;
    border-color: inherit;
    background: #fff4;
    margin: 0.5em;
    padding: 0.5em 1em;
    overflow-y: auto;
    flex: 1;
}

.otslayout .pane>.header {
    margin-top: 0;
    height: min-content;
    text-align: center;
    color: #fffa;
    filter: drop-shadow(0 0 0.1em #0008);
}

.otslayout .pane>.footer {
    justify-self: end;
    align-self: end;
    height: min-content;
    text-align: right;
    color: #fffa;
}

.otslayout div.pane.back {
    visibility: hidden;
    pointer-events: none;
}

/* Front */
.otslayout div.pane1 {
    transform: rotateY(0deg) translateZ(-40vw);
    background-color: #26a;
    border-color: #26a;
}

/* Right */
.otslayout .pane2 {
    transform: rotateY(-90deg) translateZ(-40vw);
    background-color: #933;
    border-color: #933;
}

/* Back */
.otslayout .pane3 {
    transform: rotateY(180deg) translateZ(-40vw);
    background-color: #774;
    border-color: #774;
}

/* Left */
.otslayout .pane4 {
    transform: rotateY(90deg) translateZ(-40vw);
    background-color: #474;
    border-color: #474;
}

/* Top(To be implemented) */
.otslayout .pane5 {
    background-color: lightblue;
}

/* Bottom(To be implemented) */
.otslayout .pane6 {
    background-color: lightyellow;
}

/* Right/Left Buttons */
.otslayout div.guide {
    position: fixed;
    top: 50%;
    background: #ccc;
    color: #333;
    opacity: 0.2;
    width: 2.8em;
    height: 3.6em;
    display: grid;
    place-content: center;
    font-size: 3vh;
    border-radius: 0.5em;
    z-index: 1000;
}

.otslayout div.guide:hover {
    opacity: 0.5;
}

.otslayout #guideL {
    left: 1em;
}

.otslayout #guideR {
    right: 1em;
}

.otslayout .guide>span {
    width: 1em;
    height: 1em;
    border: 0.25em solid;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
}

.otslayout #guideL>span {
    transform: translateX(25%) rotate(-135deg);
}

.otslayout #guideR>span {
    transform: translateX(-25%) rotate(45deg);
}



/* generic elements */
.otslayout h1 {
    margin-block: 0.334em;
}

.otslayout h2 {
    margin-block: 0.667em;
}

.otslayout h3 {
    margin-block: 1em;
}

.otslayout a.display-block {
    display: inline-block;
}


/* 追加機能 */
.otslayout .centered {
    display: grid;
    place-content: center;
}

.otslayout .ots-item.ots-item-flex-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
    gap: 0.5em;
    justify-items: center;
}
